python==3.6.1
aiohttp==1.0.5
async-timeout==1.2.1
certifi==2017.4.17
chardet==3.0.4
discord.py==0.16.8
idna==2.5
multidict==2.1.6
requests==2.18.1
sip==4.19.2
urllib3==1.21.1
virtualenv==15.1.0
websockets==3.3
